ENVIRONMENT=development
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

DATABASE_URL=mysql+aiomysql://fastapi_user:changeme_user_pass@localhost:3306/fastapi_app

LOG_LEVEL=INFO
CORS_ORIGINS=http://localhost:8000,http://localhost:3000

SLACK_WEBHOOK_URL=https://hooks.slack.com/services/T0000000/D0000000/XXXXXXXXXXXXXXXXXXXXXX #replace this with your slack webhook
ALERT_CPU_THRESHOLD=80
ALERT_MEMORY_THRESHOLD=90
ALERT_DISK_THRESHOLD=90